/* Общие стили */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #e6f2ff;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Шапка */
#header {
    background-color: #4a7c59; /* Спокойный зеленый цвет для шапки */
    color: white;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

#header .logo {
    float: left;
    display: flex;
    align-items: center;
}

#header .logo img {
    width: 50px;
    height: 50px;
    margin-right: 180px;
}

#header h1 {
    margin: 0;
    font-size: 1.5em;
    float: left;
    display: flex;
    align-items: center;
}

/* Навигация */
#nav {
    float: right;
    padding: 10px 0;
    margin-top: 10px;
    margin-right: 280px;
}

#nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav ul li {
    display: inline-block;
    margin: 0 10px;
}

#nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#nav ul li a:hover {
    text-decoration: underline;
}

/* Очистка обтекания(для float) */
#header::after {
    content: "";
    display: table;
    clear: both;
}

/* Таблица */
#table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
}

#table th, #table td {
    border: 1px solid #4a7c59;
    padding: 10px;
    text-align: left;
}

#table th {
    background-color: #4a7c59;
    color: white;
}

#table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#table tr:nth-child(odd) {
    background-color: #e6f2ff;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

/* Форма */
form ul {
    list-style: none;
    padding: 0;
}

form li {
    margin-bottom: 15px;
}

form label {
    display: inline-block;
    width: 200px;
}

form input[type="text"], form input[type="tel"], form input[type="email"], form input[type="date"], form textarea, form select {
    width: 300px;
    padding: 5px;
}

form input[type="radio"] {
    margin-left: 20px;
}

form input[type="checkbox"] {
    margin-left: 10px;
}

form input[type="submit"] {
    background-color: #4a7c59;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #609978;
}

/* Футтер */
footer {
    background-color: #4a7c59;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: relative;
    bottom: 0;
}

footer .footer-content {
    margin-right: 840px; /* Сдвинуть текст чуть влево */
}
